server/*.o
server/mazec
server/config.h
server/levels/*.so
server/levels/Makefile
server/pylevels/code_*
server/pylevels/Makefile
server/pylevels/__pycache__
server/tags
server/users
server/.vscode/
frontend/build
lib/*/__pycache__/
lib/.vscode/
